* {
    margin: none;
    padding: none;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers items along the main axis (horizontal) */
    align-items: center;   
    
    margin: 0;
}
main {
    max-width: 1200px;
    width: 100vw;
}

/* Typography */
h1 {
    font-size: 5rem;
}
p {
    max-width: 600px;
}
#clarence-text {
    font-family: "Instrument Serif", serif;
    font-size: 10rem;
    font-style: italic;
    font-weight: lighter;

}
#lubrin-text {
    font-family: "Poppins", sans-serif;
    font-size: 9.5rem;
    font-style: normal;
    font-weight: 300;
}

/* Containers */
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.container.overflow {
    overflow-y: auto;
    mask-clip: no-clip;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px; 
    overflow-y: auto;
}

.grid > * {
    padding: 10px;
    font-size: 30px;
}

/* Sections */
nav {
    position: sticky;

    top: 0;
    height: 5vh;
    width: 100%;

    background-color: gray;

    padding-left: 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    background: rgba(255, 255, 255, 0.253); 
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(223, 223, 223, 0.336);
    -webkit-backdrop-filter: blur(10px); 
}
nav a{
    text-decoration-line: none;
    color: black;
    margin: 1rem;
    padding: 4px 10px 4px 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 1rem;
    transition: border 300ms ;
}
nav a:hover{
    border: 1px solid black;
}
#home {
    display: flex;
    height: 95vh;
    width: 100vw;
    max-width: 1200px;
    
    justify-content: flex-start; 
    align-items: flex-end; 
    flex-wrap: wrap; 

    padding: 1rem;
}
#home h1 {
    font-kerning: -2;
    line-height: 4rem;
}
#featured {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-height: 600px;
}
#featured img {
    width: 100%;
    height:100%;
    object-fit: cover; 
    object-position: center;
}
#projects {
    padding: 1rem;
}
#project-img-container img {
    width: 600px;
    filter: drop-shadow(5px 5px 10px #4d4d4d10);
}
#details {
    padding: 1rem;
}
li {
    max-width: 550px;
}